<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>404 Page Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <h1><font color="red">&warning; I am so sorry this page is not found.</font></h1>
</body>
</html>