<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>The Main Menu</title>
        <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="./subject.ejs"></a>
    <p>Here is the main menu for our learning of nodejs</p>
</body>
</html>