<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Notre Propre Calcul En EJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <h1><font color="red">Je vais compter jusqu'à <%= compteur %></font></h1>
    <p><% for (var i = 1; i <= compteur; i++) {
        %>
        <%= i %> ....
        <% } %>
    </p>
    <p>Tant que j'y suis, je prends un nom au hasard qu'on m'a envoyé<br/>le nom de :
            <%= noms[Math.floor(Math.random() * (noms.length + 1))] %>
    </p>
</body>
</html>