<a href="./menu.ejs">Menu</a>
<h1> <font color="green"><ins>Vous êtes dans une chambre</ins></font></h1>
<p>Vous êtes à l'étage numero <%= etage %></p>
<p>Je vous remercie de votre visite pour aujourd'hui</p>