html body {
    height:100%;
}
header div footer {
    margin:0;
}
img {
    width: 50%;
}
div {
    color: whitesmoke;
}
header div footer{
    display:flex;
    justify-content: center;
    align-items: center;
}

div {
    background-color: grey;

}
header {
    background-color: darkgray;
}
footer {
    background-color: darkslategray;
}